<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="/assets/js/jquery-3.1.1.min.js"></script>
    <script async type="text/javascript" src="/assets/js/underscore.min.js"></script>
    <script async type="text/javascript" src="/assets/js/backbone.min.js"></script>
    <script async type="text/javascript" src="/assets/js/main.js"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" id="content">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" id="search-input" class="  search-query form-control" placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn btn-danger" id="search-button" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row result-block" id="action-block">
     <div id="request">
         <div class="col-md-4 column">
             <div class="column-name">Request</div>
             <div class="content">
         <script type="text/template" id="template-request">
                  <ul>
                      <% request.each(function(v){ %>
                         <li><a href="" data-id="<%= v.toJSON().id %>"><%= v.toJSON().keyword %></a></li>
                      <% }) %>
                  </ul>
         </script>
             </div>
         </div>
     </div>
     <div id="average">
         <div class="col-md-4 column">
             <div class="column-name">Average</div>
             <div class="content">
                 <script type="text/template" id="template-average">
                          <ul>
                              <li><span><b>Average rating:</b></span><%= average.toJSON().avg_rating %></li>
                              <li><span><b>Count records:</b></span><%= average.toJSON().count_id %></li>
                              <li><span><b>Title: </b></span><%= average.toJSON().titles %></li>
                          </ul>
                 </script>
             </div>
         </div>
     </div>
     <div id="response">
         <div class="col-md-4 column">
             <div class="column-name">Result</div>
             <div class="content">
                 <script type="text/template" id="template-response">
                  <% response.each(function(v){ %>
                  <ul>
                        <li><span><b>Title:</b></span><%= v.toJSON().title %></li>
                        <li><span><b>Description:</b></span><%= v.toJSON().description %></li>
                        <li><span><b>Views:</b></span><%= v.toJSON().rating %></li>
                  </ul>
                  <% }) %>
                  </script>
             </div>
         </div>
     </div>
    </div>
</div>
<div class="alert alert-info">
    <strong>Please Wait</strong>
</div>

</body>
</html>
